# 1 : Librairies Python

In [1]:
# Librairies et options :
# Divers :
import pandas as pd
import random
import datetime
import requests
import json
import numpy as np
import tqdm
import time

# Importer les codes depuis un fichier .env :
from dotenv import load_dotenv
import os
load_dotenv()

# Création et lecture des BDD postgresl :
from sqlalchemy import create_engine
import psycopg2
from sqlalchemy.types import Integer, BigInteger, JSON

# 2 : Clés API et BDD :

In [13]:
# Informations API : https://weatherlink.github.io/v2-api/
# Clés API :
API_key = os.getenv("API_key")
API_secret = os.getenv("API_secret")
station_ID = os.getenv("station_ID")

In [10]:
# Paramètres de connexion à la base de données PostgreSQL en local :
host = os.getenv("host")
database = os.getenv("database")
user = os.getenv("user")
password = os.getenv("password")
nom_table = os.getenv("nom_table")

# 3 : Ouverture de l'API

In [10]:
# Date d'aujourd'hui à minuit :
today = datetime.date.today()
todayMidnight = datetime.datetime.combine(today, datetime.time.min)

# Date du début de la station :
startStation = datetime.datetime(2021, 9, 29, 0, 0)

# Convertir la date en timestamp
startStationTimestamp = int(startStation.timestamp())
todayMidnightTimestamp = int(todayMidnight.timestamp())


print("Le timestamp correspondant à la date du {} est :".format(todayMidnight), todayMidnightTimestamp)
print("Le timestamp correspondant à la date du {} est :".format(startStation), startStationTimestamp)

Le timestamp correspondant à la date du 2024-04-16 00:00:00 est : 1713218400
Le timestamp correspondant à la date du 2021-09-29 00:00:00 est : 1632866400

In [11]:
# DataFrame historiques :
dfHistorique = pd.DataFrame()

# Nb de jours à récupérer :
nbJours = int((todayMidnightTimestamp - startStationTimestamp) / 86400)

for i in tqdm.tqdm(range(nbJours)):
    startTime = startStationTimestamp + i * 86400
    endTime = startTime + 86400
    
    # Lien de la request : 
    link = 'https://api.weatherlink.com/v2/historic/{}?api-key={}&start-timestamp={}&end-timestamp={}'.format(stationID, APIKey, startTime, endTime)
    headers = {'X-Api-Secret' : APISecret}

    # Requête :
    r = requests.get(link, headers=headers)

    # Si la requête a réussi :
    if r.status_code == 200:
        # Lecture de la request en json :
        data = r.json()

        # Transformation en DF : 
        dfJour = pd.DataFrame(data)
        dfJour = dfJour[['station_id','sensors']]

        # Récupération des valeurs se trouvant dans sensors :
        dfSensors = pd.json_normalize(data['sensors'][0]['data'])
    
        # Récupération des json sur une colonne :
        dfJour = pd.DataFrame({'station_id': data['station_id'], 'infos_json' : data['sensors'][0]['data']})
    
        # Convertir les objets JSON en chaînes de caractères JSON :
        dfJour['infos_json'] = dfJour['infos_json'].apply(json.dumps)

        # Concat des données :
        dfJour = pd.concat([dfJour, dfSensors], axis=1)
        
        # Concaténation des données :
        dfHistorique = pd.concat([dfHistorique, dfJour], ignore_index=True)
    else:
        print("La requête {} a échoué avec le code d'erreur {}".format(link, r.status_code))

100%|██████████████████████████████████████████████████████████████████████████████| 930/930 [1:10:15<00:00,  4.53s/it]

In [17]:
# Data Frame Finale :
dfHistorique.head()

,station_id,infos_json,ts,tz_offset,arch_int,rev_type,temp_out,temp_out_hi,temp_out_lo,temp_in,...,wind_run,deg_days_heat,deg_days_cool,solar_energy,uv_dose,thw_index,thsw_index,wet_bulb,night_cloud_cover,iss_reception
0,122495,"{""ts"": 1632942900, ""tz_offset"": 7200, ""arch_in...",1632942900,7200,300,2,56.1,56.2,56.1,74.6,...,0.0,0.030903,0.0,0.0,NaN,55.680000,52.794106,51.865425,0.5,None
1,122495,"{""ts"": 1632943200, ""tz_offset"": 7200, ""arch_in...",1632943200,7200,300,2,56.0,56.2,56.0,73.8,...,0.0,0.031250,0.0,0.0,NaN,55.580000,52.241997,51.771530,0.5,None
2,122495,"{""ts"": 1632943500, ""tz_offset"": 7200, ""arch_in...",1632943500,7200,300,2,56.2,56.2,56.0,71.6,...,0.0,0.030556,0.0,0.0,NaN,55.780003,52.441998,51.957924,0.5,None
3,122495,"{""ts"": 1632943800, ""tz_offset"": 7200, ""arch_in...",1632943800,7200,300,2,56.3,56.4,56.2,69.3,...,0.0,0.030208,0.0,0.0,NaN,55.880000,52.541996,52.050987,0.5,None
4,122495,"{""ts"": 1632944100, ""tz_offset"": 7200, ""arch_in...",1632944100,7200,300,2,57.7,57.7,56.3,67.4,...,0.0,0.025347,0.0,0.0,0.0,56.920002,53.537514,51.984350,0.5,None
5,122495,"{""ts"": 1632944400, ""tz_offset"": 7200, ""arch_in...",1632944400,7200,300,2,57.5,57.7,57.5,65.3,...,0.0,0.026042,0.0,0.0,0.0,56.720000,53.337513,51.801950,0.5,None
6,122495,"{""ts"": 1632944700, ""tz_offset"": 7200, ""arch_in...",1632944700,7200,300,2,57.5,57.6,57.4,63.6,...,0.0,0.026042,0.0,0.0,0.0,56.720000,53.337513,51.802160,0.5,None
7,122495,"{""ts"": 1632945000, ""tz_offset"": 7200, ""arch_in...",1632945000,7200,300,2,57.2,57.5,57.2,62.3,...,0.0,0.027083,0.0,0.0,0.0,56.480000,53.097515,51.762840,0.5,None
8,122495,"{""ts"": 1632945300, ""tz_offset"": 7200, ""arch_in...",1632945300,7200,300,2,57.0,57.3,57.0,61.3,...,0.0,0.027778,0.0,0.0,0.0,56.340000,52.957516,51.809795,0.5,None
9,122495,"{""ts"": 1632945600, ""tz_offset"": 7200, ""arch_in...",1632945600,7200,300,2,56.9,57.0,56.9,60.4,...,0.0,0.028125,0.0,0.0,0.0,56.240000,52.857517,51.718150,0.5,None
10,122495,"{""ts"": 1632945900, ""tz_offset"": 7200, ""arch_in...",1632945900,7200,300,2,56.8,56.9,56.8,59.6,...,0.0,0.028472,0.0,0.0,0.0,56.140000,52.757515,51.626380,0.5,None
11,122495,"{""ts"": 1632946200, ""tz_offset"": 7200, ""arch_in...",1632946200,7200,300,2,56.6,56.8,56.6,59.1,...,0.0,0.029167,0.0,0.0,0.0,56.000000,52.617510,51.668613,0.5,None
12,122495,"{""ts"": 1632946500, ""tz_offset"": 7200, ""arch_in...",1632946500,7200,300,2,56.4,56.6,56.4,58.6,...,0.0,0.029861,0.0,0.0,0.0,55.800003,52.417515,51.484314,0.5,None
13,122495,"{""ts"": 1632946800, ""tz_offset"": 7200, ""arch_in...",1632946800,7200,300,2,56.1,56.3,56.1,58.1,...,0.0,0.030903,0.0,0.0,0.0,55.500000,52.117510,51.208214,0.5,None
14,122495,"{""ts"": 1632947100, ""tz_offset"": 7200, ""arch_in...",1632947100,7200,300,2,55.9,56.1,55.9,57.7,...,0.0,0.031597,0.0,0.0,0.0,55.300003,51.917515,51.024000,0.5,None
15,122495,"{""ts"": 1632947400, ""tz_offset"": 7200, ""arch_in...",1632947400,7200,300,2,55.7,55.9,55.7,57.3,...,0.0,0.032292,0.0,0.0,0.0,55.100002,51.673030,50.839848,0.5,None
16,122495,"{""ts"": 1632947700, ""tz_offset"": 7200, ""arch_in...",1632947700,7200,300,2,55.5,55.7,55.5,57.0,...,0.0,0.032986,0.0,0.0,0.0,54.960000,51.577515,50.874980,0.5,None
17,122495,"{""ts"": 1632948000, ""tz_offset"": 7200, ""arch_in...",1632948000,7200,300,2,55.4,55.5,55.3,56.7,...,0.0,0.033333,0.0,0.0,0.0,54.860000,51.433033,50.782528,0.5,None
18,122495,"{""ts"": 1632948300, ""tz_offset"": 7200, ""arch_in...",1632948300,7200,300,2,55.3,55.4,55.3,56.4,...,0.0,0.033681,0.0,0.0,0.0,54.760000,51.333030,50.690075,0.5,None
19,122495,"{""ts"": 1632948600, ""tz_offset"": 7200, ""arch_in...",1632948600,7200,300,2,55.2,55.3,55.2,56.2,...,0.0,0.034028,0.0,0.0,0.0,54.720000,51.337513,50.813435,0.5,None
20,122495,"{""ts"": 1632948900, ""tz_offset"": 7200, ""arch_in...",1632948900,7200,300,2,55.1,55.2,55.1,56.0,...,0.0,0.034375,0.0,0.0,0.0,54.620000,51.237510,50.720577,0.5,None
21,122495,"{""ts"": 1632949200, ""tz_offset"": 7200, ""arch_in...",1632949200,7200,300,2,55.0,55.1,55.0,55.8,...,0.0,0.034722,0.0,0.0,0.0,54.460000,51.033030,50.412850,0.5,None
22,122495,"{""ts"": 1632949500, ""tz_offset"": 7200, ""arch_in...",1632949500,7200,300,2,54.9,55.0,54.9,55.7,...,0.0,0.035069,0.0,0.0,0.0,54.420002,50.993034,50.535150,0.5,None
23,122495,"{""ts"": 1632949800, ""tz_offset"": 7200, ""arch_in...",1632949800,7200,300,2,54.8,54.9,54.8,55.5,...,0.0,0.035417,0.0,0.0,0.0,54.380000,50.997513,50.654305,0.5,None
24,122495,"{""ts"": 1632950100, ""tz_offset"": 7200, ""arch_in...",1632950100,7200,300,2,54.8,54.9,54.7,55.3,...,0.0,0.035417,0.0,0.0,0.0,54.320000,50.893032,50.442352,0.5,None
25,122495,"{""ts"": 1632950400, ""tz_offset"": 7200, ""arch_in...",1632950400,7200,300,2,54.6,54.8,54.6,55.1,...,0.0,0.036111,0.0,0.0,0.0,54.120000,50.693030,50.256767,0.5,None
26,122495,"{""ts"": 1632950700, ""tz_offset"": 7200, ""arch_in...",1632950700,7200,300,2,54.5,54.6,54.4,55.1,...,0.0,0.036458,0.0,0.0,0.0,54.020000,50.593033,50.163975,0.5,None
27,122495,"{""ts"": 1632951000, ""tz_offset"": 7200, ""arch_in...",1632951000,7200,300,2,54.3,54.4,54.3,54.9,...,0.0,0.037153,0.0,0.0,0.0,53.880000,50.453030,50.188873,0.5,None
28,122495,"{""ts"": 1632951300, ""tz_offset"": 7200, ""arch_in...",1632951300,7200,300,2,54.3,54.4,54.2,54.8,...,0.0,0.037153,0.0,0.0,0.0,53.880000,50.453030,50.188927,0.5,None
29,122495,"{""ts"": 1632951600, ""tz_offset"": 7200, ""arch_in...",1632951600,7200,300,2,54.2,54.2,54.1,54.6,...,0.0,0.037500,0.0,0.0,0.0,53.780003,50.353030,50.095900,0.5,None
30,122495,"{""ts"": 1632951900, ""tz_offset"": 7200, ""arch_in...",1632951900,7200,300,2,54.1,54.2,54.1,54.5,...,0.0,0.037847,0.0,0.0,0.0,53.680000,50.253030,50.002655,0.5,None
31,122495,"{""ts"": 1632952200, ""tz_offset"": 7200, ""arch_in...",1632952200,7200,300,2,54.1,54.1,54.1,54.4,...,0.0,0.037847,0.0,0.0,0.0,53.620000,50.193030,49.793280,0.5,None
32,122495,"{""ts"": 1632952500, ""tz_offset"": 7200, ""arch_in...",1632952500,7200,300,2,54.1,54.1,54.0,54.3,...,0.0,0.037847,0.0,0.0,0.0,53.680000,50.253030,50.003140,0.5,None
33,122495,"{""ts"": 1632952800, ""tz_offset"": 7200, ""arch_in...",1632952800,7200,300,2,54.0,54.1,54.0,54.3,...,0.0,0.038194,0.0,0.0,0.0,53.580000,50.153030,49.910442,0.5,None
34,122495,"{""ts"": 1632953100, ""tz_offset"": 7200, ""arch_in...",1632953100,7200,300,2,53.9,54.0,53.9,54.1,...,0.0,0.038542,0.0,0.0,0.0,53.484000,50.057034,49.816936,0.5,None
35,122495,"{""ts"": 1632953400, ""tz_offset"": 7200, ""arch_in...",1632953400,7200,300,2,53.7,53.9,53.7,54.1,...,0.0,0.039236,0.0,0.0,0.0,53.292000,49.865032,49.630300,0.5,None
36,122495,"{""ts"": 1632953700, ""tz_offset"": 7200, ""arch_in...",1632953700,7200,300,2,53.6,53.8,53.6,54.0,...,0.0,0.039583,0.0,0.0,0.0,53.247997,49.821030,49.742615,0.5,None
37,122495,"{""ts"": 1632954000, ""tz_offset"": 7200, ""arch_in...",1632954000,7200,300,2,53.5,53.6,53.5,53.8,...,0.0,0.039931,0.0,0.0,0.0,53.150000,49.723030,49.649094,0.5,None
38,122495,"{""ts"": 1632954300, ""tz_offset"": 7200, ""arch_in...",1632954300,7200,300,2,53.3,53.5,53.3,53.6,...,0.0,0.040625,0.0,0.0,0.0,52.954000,49.482548,49.462100,0.5,None
39,122495,"{""ts"": 1632954600, ""tz_offset"": 7200, ""arch_in...",1632954600,7200,300,2,53.3,53.3,53.3,53.4,...,0.0,0.040625,0.0,0.0,0.0,52.908000,49.436550,49.257800,0.5,None
40,122495,"{""ts"": 1632954900, ""tz_offset"": 7200, ""arch_in...",1632954900,7200,300,2,53.2,53.3,53.1,53.2,...,0.0,0.040972,0.0,0.0,0.0,52.812000,49.340550,49.164520,0.5,None
41,122495,"{""ts"": 1632955200, ""tz_offset"": 7200, ""arch_in...",1632955200,7200,300,2,53.1,53.2,53.1,53.1,...,0.0,0.041319,0.0,0.0,0.0,52.716000,49.244550,49.071342,0.5,None
42,122495,"{""ts"": 1632955500, ""tz_offset"": 7200, ""arch_in...",1632955500,7200,300,2,53.1,53.2,53.1,53.0,...,0.0,0.041319,0.0,0.0,0.0,52.674000,49.202550,48.865704,0.5,None
43,122495,"{""ts"": 1632955800, ""tz_offset"": 7200, ""arch_in...",1632955800,7200,300,2,53.1,53.2,53.1,53.0,...,0.0,0.041319,0.0,0.0,0.0,52.674000,49.202550,48.865930,0.5,None
44,122495,"{""ts"": 1632956100, ""tz_offset"": 7200, ""arch_in...",1632956100,7200,300,2,53.0,53.2,53.0,52.9,...,0.0,0.041667,0.0,0.0,0.0,52.620000,49.148550,48.978767,0.5,None
45,122495,"{""ts"": 1632956400, ""tz_offset"": 7200, ""arch_in...",1632956400,7200,300,2,53.0,53.1,53.0,52.8,...,0.0,0.041667,0.0,0.0,0.0,52.620000,49.148550,48.978767,0.5,None
46,122495,"{""ts"": 1632956700, ""tz_offset"": 7200, ""arch_in...",1632956700,7200,300,2,52.9,53.0,52.9,52.7,...,0.0,0.042014,0.0,0.0,0.0,52.490000,48.974068,48.680115,0.5,None
47,122495,"{""ts"": 1632957000, ""tz_offset"": 7200, ""arch_in...",1632957000,7200,300,2,52.8,52.9,52.8,52.7,...,0.0,0.042361,0.0,0.0,0.0,52.399998,48.884068,48.587860,0.5,None
48,122495,"{""ts"": 1632957300, ""tz_offset"": 7200, ""arch_in...",1632957300,7200,300,2,52.7,52.8,52.7,52.5,...,0.0,0.042708,0.0,0.0,0.0,52.310000,48.794067,48.495045,0.5,None
49,122495,"{""ts"": 1632957600, ""tz_offset"": 7200, ""arch_in...",1632957600,7200,300,2,52.6,52.7,52.6,52.4,...,0.0,0.043056,0.0,0.0,0.0,52.219997,48.704063,48.402220,0.5,None

# 4 : Transfert sur PostgreSQL

In [32]:
# Début du chronomètre :
startTime = time.time()

# Création de la chaîne de connexion PostgreSQL :
connStr = f"postgresql://{user}:{password}@{host}/{database}"

# Création de la connexion à la base de données PostgreSQL :
engine = create_engine(connStr)

# Définir les types de données pour chaque colonne :
dtype = {'station_id': Integer(),
         'ts': BigInteger(),
         'infos_json': JSON}

# Insérer le DataFrame dans la base de données PostgreSQL :
dfHistorique.to_sql(nomTable, engine, if_exists = 'replace', index=False, dtype=dtype)

# Fermeture de la connexion :
engine.dispose()

# Fin du chronomètre :
endTime = time.time()

# Calcul de la durée d'exécution :
executionTime = endTime - startTime

# Affichage de la durée d'exécution :
print("Durée d'exécution :", round(executionTime/60,2), "minutes")

Durée d'exécution : 2.09 minutes

# 5 : Ouverture de la BDD

In [12]:
# Connexion à la base de données
conn = psycopg2.connect(dbname = database, user = user, password = password , host = host)

# Création d'un curseur : permet d'exécuter des commandes SQL sur la base de données.
cur = conn.cursor()

# Exécution d'une requête SQL pour sélectionner les données de ma_table
cur.execute(f"SELECT * FROM {nom_table} LIMIT 5")

# Récupération des données dans une liste de tuples
data = cur.fetchall()

# Création d'un DataFrame à partir des données
df = pd.DataFrame(data, columns=[desc[0] for desc in cur.description])

# Fermeture du curseur et de la connexion
cur.close()
conn.close()

df

,station_id,infos_json,ts,tz_offset,arch_int,rev_type,temp_out,temp_out_hi,temp_out_lo,temp_in,...,wind_run,deg_days_heat,deg_days_cool,solar_energy,uv_dose,thw_index,thsw_index,wet_bulb,night_cloud_cover,iss_reception
0,122495,"{""ts"": 1632942900, ""tz_offset"": 7200, ""arch_in...",1632942900,7200,300,2,56.1,56.2,56.1,74.6,...,0.0,0.030903,0.0,0.0,NaN,55.680000,52.794106,51.865425,0.5,None
1,122495,"{""ts"": 1632943200, ""tz_offset"": 7200, ""arch_in...",1632943200,7200,300,2,56.0,56.2,56.0,73.8,...,0.0,0.031250,0.0,0.0,NaN,55.580000,52.241997,51.771530,0.5,None
2,122495,"{""ts"": 1632943500, ""tz_offset"": 7200, ""arch_in...",1632943500,7200,300,2,56.2,56.2,56.0,71.6,...,0.0,0.030556,0.0,0.0,NaN,55.780003,52.441998,51.957924,0.5,None
3,122495,"{""ts"": 1632943800, ""tz_offset"": 7200, ""arch_in...",1632943800,7200,300,2,56.3,56.4,56.2,69.3,...,0.0,0.030208,0.0,0.0,NaN,55.880000,52.541996,52.050987,0.5,None
4,122495,"{""ts"": 1632944100, ""tz_offset"": 7200, ""arch_in...",1632944100,7200,300,2,57.7,57.7,56.3,67.4,...,0.0,0.025347,0.0,0.0,0.0,56.920002,53.537514,51.984350,0.5,None

In [39]:
import psycopg2

# Connexion à la base de données
conn = psycopg2.connect(dbname=database, user=user, password=password, host=host)

# Création d'un curseur : permet d'exécuter des commandes SQL sur la base de données.
cur = conn.cursor()

# Exécution d'une requête SQL pour obtenir les informations de schéma de la table
cur.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'historiquemeteo'")

# Récupération des données dans une liste de tuples
column_info = cur.fetchall()

# Affichage du format de chaque colonne
for column in column_info:
    print("La colonne ", column[0], "à pour format :", column[1])

# Fermeture du curseur et de la connexion
cur.close()
conn.close()

La colonne  forecast_rule à pour format : double precision
La colonne  et à pour format : double precision
La colonne  abs_press à pour format : double precision
La colonne  bar_noaa à pour format : double precision
La colonne  bar à pour format : double precision
La colonne  solar_rad_avg à pour format : double precision
La colonne  dew_point_out à pour format : double precision
La colonne  dew_point_in à pour format : double precision
La colonne  solar_rad_hi à pour format : double precision
La colonne  heat_index_out à pour format : double precision
La colonne  heat_index_in à pour format : double precision
La colonne  wind_chill à pour format : double precision
La colonne  wind_run à pour format : double precision
La colonne  deg_days_heat à pour format : double precision
La colonne  deg_days_cool à pour format : double precision
La colonne  solar_energy à pour format : double precision
La colonne  uv_dose à pour format : double precision
La colonne  thw_index à pour format : double precision
La colonne  thsw_index à pour format : double precision
La colonne  wet_bulb à pour format : double precision
La colonne  night_cloud_cover à pour format : double precision
La colonne  station_id à pour format : integer
La colonne  uv_index_avg à pour format : double precision
La colonne  uv_index_hi à pour format : double precision
La colonne  wind_num_samples à pour format : bigint
La colonne  wind_speed_avg à pour format : double precision
La colonne  wind_speed_hi à pour format : bigint
La colonne  wind_dir_of_hi à pour format : double precision
La colonne  wind_dir_of_prevail à pour format : double precision
La colonne  infos_json à pour format : json
La colonne  ts à pour format : bigint
La colonne  tz_offset à pour format : bigint
La colonne  arch_int à pour format : bigint
La colonne  rev_type à pour format : bigint
La colonne  temp_out à pour format : double precision
La colonne  temp_out_hi à pour format : double precision
La colonne  temp_out_lo à pour format : double precision
La colonne  temp_in à pour format : double precision
La colonne  hum_in à pour format : bigint
La colonne  hum_out à pour format : double precision
La colonne  rainfall_in à pour format : double precision
La colonne  rainfall_clicks à pour format : bigint
La colonne  rainfall_mm à pour format : double precision
La colonne  rain_rate_hi_in à pour format : double precision
La colonne  rain_rate_hi_clicks à pour format : bigint
La colonne  rain_rate_hi_mm à pour format : double precision
La colonne  iss_reception à pour format : text
La colonne  moist_soil_1 à pour format : text
La colonne  moist_soil_2 à pour format : text
La colonne  moist_soil_3 à pour format : text
La colonne  moist_soil_4 à pour format : text
La colonne  temp_soil_1 à pour format : text
La colonne  temp_soil_2 à pour format : text
La colonne  temp_soil_3 à pour format : text
La colonne  temp_soil_4 à pour format : text
La colonne  wet_leaf_1 à pour format : text
La colonne  wet_leaf_2 à pour format : text
La colonne  temp_leaf_1 à pour format : text
La colonne  temp_leaf_2 à pour format : text
La colonne  temp_extra_1 à pour format : text
La colonne  temp_extra_2 à pour format : text
La colonne  temp_extra_3 à pour format : text
La colonne  hum_extra_1 à pour format : text
La colonne  hum_extra_2 à pour format : text
La colonne  forecast_desc à pour format : text
La colonne  bar_alt à pour format : text
La colonne  air_density à pour format : text
La colonne  emc à pour format : text